<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KayakUser" value="olivier.spinelli@invenietis.com"/>
    <add key="KayakKey" value="0lrbxzawovKeKp88YJ985g"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
